        
		body {
            font-family: Arial;
            background-color: #f4f4f4;
        }
		h1{
			font-size: 8vw;
		}
		p{
			font-size: 6vw;
		}
        .container {
            margin-top: 6vw;
			text-align:center;
        }
        input {
            padding: 6vw;
            font-size: 6vw;
        }
        button {
			font-weight:bold;
			margin-top: 5vw;
            padding: 5vw;
            font-size: 6vw;
        }
        .message {
            margin-top: 4vw;
            font-size: 4vw;
        }


		
