        
		body {
            font-family: Arial;
            background-color: #f4f4f4;
        }
		h1{
			font-size: 4vh;
		}
		p{
			font-size: 2.5vh;
		}
        .container {
            margin-top: 3vh;
			text-align:center;
        }
        input {
            padding: 2vh;
            font-size: 2vh;
        }
        button {
			font-weight:bold;
			margin-top: 2vh;
            padding: 2vh;
            font-size: 3vh;
        }
        .message {
            margin-top: 1vh;
            font-size: 3vh;
        }


		
